.footer-nav {
    display: flex;
    width: 1000px;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }
  .footer-link {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-family: Inter, sans-serif;
    width: 100px;
  }

  .footer-link:hover{
    color: #afcef8;
  }