.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects-title {
    color: rgba(9, 50, 108, 1);
    text-align: center;
    font: 700 32px Inter, sans-serif;
    margin: 100px 0px;
  }
  .more-soon {
    color: rgba(0, 0, 0, 1);
    font: 500 26px Inter, sans-serif;
    letter-spacing: 3.9px;
    margin-top: 120px;
  }
  @media (max-width: 991px) {
    .more-soon {
      margin-top: 40px;
    }
  }